In [1]:
data = {
  '학번' : ['1번', '2번', '3번', '4번', '5번'],
  '이름' : ['김자바', '이자바', '박자바', '최캐드', '정캐드'],
  '학급' : ['자바반', '자바반', '자바반', '캐드반', '캐드반'],
  '국어점수' : [90, 80, 70, 100, 90],
  '영어점수' : [70, 80, 80, 70, 90],
  '평균' : [80.0, 80.0, 75.0, 85.0, 90.0],
  '취미' : ['독서', '', '', '요가', '축구']
}

In [2]:
import pandas as pd

df = pd.DataFrame(data)

In [ ]:
# loc를 사용한 특정 데이터 조회
# 문법 : df.loc[index, 조회할 칼럼], df.loc[index]

df.loc[0]

학번        1번
이름       김자바
학급       자바반
국어점수      90
영어점수      70
평균      80.0
취미        독서
Name: 0, dtype: object

In [10]:
df.loc[2, '이름']

'박자바'

In [ ]:
# 학번 컬럼을 DataFrame의 index로 지정
df.set_index('학번') # 데이터프레임의 index를 '학번'으로 한다. 데이터프레임의 데이터를 저장하는 것은 아님.

df.set_index('학번', inplace=True) # 데이터프레임의 데이터를 저장하려면 'inplace=True' 매개변수를 넣어야한다.

In [14]:
df

     이름   학급  국어점수  영어점수    평균  취미
학번
1번  김자바  자바반    90    70  80.0  독서
2번  이자바  자바반    80    80  80.0
3번  박자바  자바반    70    80  75.0
4번  최캐드  캐드반   100    70  85.0  요가
5번  정캐드  캐드반    90    90  90.0  축구

In [16]:
# 학번이 1번인 학생의 국어점수
print(df.loc['1번', '국어점수'])

90

In [17]:
# 학번이 1번, 2번인 학생의 국어점수, 영어 점수 조회
print(df.loc[['1번','2번'],['국어점수','영어점수']])

    국어점수  영어점수
학번
1번    90    70
2번    80    80

In [19]:
# 학번이 1번~3번인 학생의 평균
df.loc['1번':'3번', '평균점수']

KeyError: '평균점수'

In [20]:
# iloc를 사용한 데이터 조회
# 문법 : df.iloc[index, 조회할 컬럼 번호]

# 학번이 1번인 학생의 국어점수
df.iloc[0, 2]

np.int64(90)

In [21]:
# 학번이 1번, 2번인 학생의 국어, 영어 점수 조회 (iloc사용)
df.iloc[[0,1], [2,3]]

    국어점수  영어점수
학번
1번    90    70
2번    80    80

In [25]:
# 학번이 1번~4번인 학생의 국어점수, 영어줌서, 평균
df.iloc[0:4, 2:5]

    국어점수  영어점수    평균
학번
1번    90    70  80.0
2번    80    80  80.0
3번    70    80  75.0
4번   100    70  85.0