In [24]:
data = {
    '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
    '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
    '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
    '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

In [28]:
# 위의 딕셔너리 데이터를 판다스의 dataframe 형태로 만드세요.
import pandas as pd

df = pd.DataFrame(data)

df

          영화  개봉 연도  관객 수    평점
0         명량   2014  1761  8.88
1       극한직업   2019  1626  9.20
2  신과함께-죄와 벌   2017  1441  8.73
3       국제시장   2014  1426  9.16
4         괴물   2006  1301  8.62
5        도둑들   2012  1298  7.64
6    7번방의 선물   2013  1281  8.83
7         암살   2015  1270  9.10

In [6]:
# 전체 데이터 중 '영화', '평점' 정보만 출력해보세요.
df[['영화', '평점']]

          영화    평점
0         명량  8.88
1       극한직업  9.20
2  신과함께-죄와 벌  8.73
3       국제시장  9.16
4         괴물  8.62
5        도둑들  7.64
6    7번방의 선물  8.83
7         암살  9.10

In [19]:
# 2015년 이후에 개봉한 영어 정보 중 '영화', '개봉연도' 정보를 출력
df.loc[df['개봉 연도']>2015, ['영화', '개봉 연도']]

          영화  개봉 연도
1       극한직업   2019
2  신과함께-죄와 벌   2017

In [ ]:
# 주어진 계산식을 참고하여 '추천 점수' Column을 추가
# 추천 점수 = (관객수 * 평점) // 100
df.add(df, ['추천 점수'], (df['관객 수'] * df['평점']))

TypeError: unhashable type: 'list'

In [29]:
# 관객수가 1300만명 이상이며, 평점은 8.8점 이상인 영화의 모든 컬럼 정보를 조회하세요
df.loc[(df['관객 수'] >= 1300) & (df['평점'] >= 8.8)]

     영화  개봉 연도  관객 수    평점
0    명량   2014  1761  8.88
1  극한직업   2019  1626  9.20
3  국제시장   2014  1426  9.16